.login{
    padding: 20px;
    border:1px solid #ccc;
    margin: auto;
    background-color:aquamarine ;
}

.range{
    position: relative;
}
.money{
    position: absolute;
    top:15px;
    left:5%;
    color:red
}